@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
img {
  display: block;
}
main {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.bg {
  position: relative;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contents {
  max-width: 375px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.contents img {
  max-width: 375px;
}
.contents_small {
  display: none;
}
.btn_area {
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_area a img {
  width: 160px;
}
.bg_floating {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 720px;
  display: block;
}
.fold_bg {
  display: none;
}
.fold_contents {
  display: none;
}
@media only screen and (max-width: 375px) {
  .contents {
    display: none;
  }
  .bg {
    display: none;
  }
  .fold_bg {
    display: block;
    position: relative;
    max-width: 375px;
    overflow: hidden;
  }
  .fold_bg img {
    width: 100%;
  }
  .fold_contents {
    display: block;
    position: absolute;
    top: 0;
  }
  .fold_contents img {
    width: 100%;
  }
}
