@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif !important;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html,
body {
  overflow: hidden;
  scroll-snap-type:y mandatory;
  overflow-y: auto;

}


.home-background {
  background: linear-gradient(137.04deg, #0ee6f3 19.9%, #0ef3d8 80.33%);
}
.parallax {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.parallax-move {
  background-color: rgba(0, 0, 0);

}
.section-title {
  font-family: "Montserrat" !important;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(28, 226, 217, 1);
}
@media only screen and (min-width: 767px) {
  .section-title {
    font-size: 50px;
    // -webkit-text-stroke: 2px #000000;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}

@media only screen and (min-width: 1023px) {
  .section-title {
    font-size: 60px;

  }
}
.launcher-logo {
  // box-shadow: 0px 4px 80px 0px rgba(0, 238, 255, 0.344);
  -webkit-filter: drop-shadow(0px 4px 80px rgb(0, 238, 255));
  filter: drop-shadow(0px 4px 80px rgb(0, 238, 255));
}

.launcher-bg {
  background: linear-gradient(180deg, #111111 38.54%, rgba(0, 0, 0, 0) 100%),
    conic-gradient(
      from 127.27deg at 50.72% 18.46%,
      #0ef3d8 0deg,
      #0ee6f3 48.75deg,
      #0ef3d8 360deg
    );
}

.footer-text {
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #616161;
}
.footer-text-terms{
font-size: 13px;
font-weight: 600;
line-height: 13px;
color:#858585;
}
.current {
  color: #000;
  text-decoration: underline;
}

.before-l::before {
  display: inline-block;
  margin-right: 22px;
  content: "";
  width: 20px;
  height: 20px;
  background: #1ce2d9;
  border-radius: 100px;
}

.before-m::before {
  position: absolute;
  left: 3px;
  margin-top: 7px;
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  border: 3px solid #1ce2d9;
  background: black;
  border-radius: 100px;
}

.before-l::after {
  position: absolute;
  display: block;
  top: 15px;
  left: 9px;
  height: 80%;
  border: 1px dashed #1ce2d9;
  content: "";
}



@media only screen and (min-width: 767px) {
  .experience-order-reverse {
    flex-direction: row-reverse;
  }
  .experience-order {
    flex-direction: row;
  }
}
@media only screen and (max-width: 768px) {
  .faq-img img {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .faq-card-line::before {
    content: "";
    border: 1px solid #434343;
    position: absolute;
    display: block;
    top: 133px;
    left: 0;
    width: 95%;
    height: 1px;
  }
}
.menu-click {
  transform: translateX(0);
}
.faq-title {
  font-size: 1.8rem;
  line-height: 2.88rem;
  color: #1ce2d9;
}



@media only screen and (max-width: 1279px) {
  .menu p::after{
    content:"";
    position: absolute;
    left:0;
    bottom:0;
    display: inline-block;
    width: 0;
    height:2px;
    background-color: #1CE2D9;
    transition: 1s all;
  }
  .menu .active p::after{
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .faq-title {
    font-size: 2.3rem;
    line-height: 3.68rem;
  }
}

@media only screen and (min-width: 1536px) {
  .faq-title {
    font-size: 3rem;
    line-height: 4.8rem;
  }
}
.bg-mountain {
  animation: 1s ease slidein;
}
.bg-big-thunder {
  animation: 1s ease scaleOut;
}
.main-right-thunder {
  transform: scale(1) translate(1500px, -1000px);
  animation: thunderRightIn .8s ease-in-out forwards;
  animation-delay: 0.2s;

}
.main-left-thunder {
  transform: scale(1) translate(-1500px, -1000px);
  animation: thunderLeftIn .8s ease-in-out forwards;
}
.main-right-thunder-m {
  transform: scale(1) translate(1500px, -1000px);
  animation: thunderRightIn .8s ease-in-out forwards;
  animation-delay: 0.4s;

}
.main-left-thunder-m {
  transform: scale(1) translate(-1500px, -1000px);
  animation: thunderLeftIn .8s ease-in-out forwards;
  animation-delay: 0.6s;

  
}
.main-right-thunder-s {
  transform: scale(1) translate(1500px, -1000px);
  animation: thunderRightIn .8s ease-in-out forwards;
  animation-delay: 1s;
}
.main-left-thunder-s {
  transform: scale(1) translate(-1500px, -1000px);
  animation: thunderLeftIn .8s ease-in-out forwards;
  animation-delay: 0.8s;
}

.bounce-thunder-right-big {
  animation:  bounceRight 8s ease-in-out infinite;
  animation-delay: 1.5s;
}
.bounce-thunder-left-big {
  animation:  bounceLeft 5.5s ease-in-out infinite;
  animation-delay: 1s;
}
.bounce-thunder-right-L {
  animation:  bounceRight 8s ease-in-out infinite;
  animation-delay: 1.2s;
}
.bounce-thunder-left-L {
  animation:  bounceLeft 8s ease-in-out infinite;
  animation-delay: 1.7s;
}
.bounce-thunder-right-S {
  animation:  bounceRight 6s ease-in-out infinite;
  animation-delay: 1.8s;
}
.bounce-thunder-left-S {
  animation:  bounceLeft 5s ease-in-out infinite;
  animation-delay: 2.5s;
}

.bounce-thunder-right-m-L {
  animation:  bounceLeftMobile 6s ease-in-out infinite;
  animation-delay: 3s;
}
.bounce-thunder-left-m-L {
  animation:  bounceRightMobile 8s ease-in-out infinite;
  animation-delay: 1.7s;
}
.bounce-thunder-right-m-S {
  animation:  bounceLeftMobile 6s ease-in-out infinite;
  animation-delay: 1.8s;
}
.bounce-thunder-left-m-S {
  animation:  bounceRightMobile 5s ease-in-out infinite;
  animation-delay: 2.5s;
}
.bg-arch {
  animation: archIn 0.8s ease-in-out forwards;
}
.main-cont {
  margin-top: 100%;
  transform-origin: 50% 50%;
  animation: mainContIn 1s ease forwards;
}


@keyframes mainContIn {
  from {
    margin-top: 70%;
    transform: translateY(200px);
  }

  to {
    margin-top: 0%;
    transform: translateY(0px);
  }
}
@keyframes slidein {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1.5) translateY(200px);
  }

  to {
    transform: scale(1) translateY(0px);
  }
}
@keyframes thunderLeftIn {
  from {
    transform: scale(1) translate(-1500px, -1000px);
  }

  to {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes thunderRightIn {
  from {
    transform: scale(1) translate(1500px, -1000px);
  }

  to {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes archIn {
  from {
    transform: scale(0.5) translateY(700px);
  }

  to {
    transform: scale(1) translateY(0px);
  }
}
.bounce {
  /* 파폭 */
  -moz-animation: bounce 0.5s infinite linear;
  /* 크롬 */
  -webkit-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}
@keyframes bounceRight{
  0% {
    transform: scale(1) translate(0, 0);
  }

  40% {
    transform: scale(1) translate(0, -30px);
  }

  60% {
    transform: scale(1) translate(0, -15px);
  }

  80% {
    transform: scale(1) translate(0, -30px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes bounceLeft{
  0% {
    transform: scale(1) translate(0, 0);
  }

  40% {
    transform: scale(1) translate(0, 30px);
  }

  60% {
    transform: scale(1) translate(0, 15px);
  }

  80% {
    transform: scale(1) translate(0, 30px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes bounceRightMobile{
  0% {
    transform: scale(1) translate(0, 0);
  }

  40% {
    transform: scale(1) translate(0, -10px);
  }

  60% {
    transform: scale(1) translate(0, -0px);
  }

  80% {
    transform: scale(1) translate(0, 10px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes bounceLeftMobile{
  0% {
    transform: scale(1) translate(0, 0);
  }

  40% {
    transform: scale(1) translate(0, 10px);
  }

  60% {
    transform: scale(1) translate(0, 5px);
  }

  80% {
    transform: scale(1) translate(0, 10px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

 .experience-card {
  opacity: 0;
  
}
.experience-list .experience-card.active {
  opacity: 1;
  animation: showUp 1s ease forwards;
}

.mission-card0 {
  opacity: 0;
}
.mission-card0.active {
  animation: showUp 1s ease forwards;
}
.mission-card1 {
  opacity: 0;
}
.mission-card1.active {
  opacity: 0;
  animation: showUp 1s ease forwards;
  animation-delay: 0.2s;
}
.mission-card2 {
  opacity: 0;
}
.mission-card2.active {
  opacity: 0;
  animation: showUp 1s ease forwards;
  animation-delay: 0.4s;
}
.mission-card3 {
  opacity: 0;
}
.mission-card3.active {
  opacity: 0;
  animation: showUp 1s ease forwards;
  animation-delay: 0.6s;
}
.community-list {
  opacity: 0;
  transform: translateY(200px);
  transition: all 1s;
}
.community-list.active {
  opacity: 1;
  transform: translateY(0px);
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
  }
}


.slick-slide .faq-list{
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s;
}
.faq-list .slick-slide.slick-active .faq-list{
  opacity: 1;
  transform: translateY(0px);
}
// .faq-list:first-child{
//   width: 300px;
// }
.launcher-bounce{
  animation: ease-in-out 4s launcherBounce infinite;
}

@keyframes launcherBounce{
  0% {
    transform: scale(1) translate(0, 0);
  }

  40% {
    transform: scale(1) translate(0, 15px);
  }

  60% {
    transform: scale(1) translate(0, 0px);
  }

  80% {
    transform: scale(1) translate(0, 15px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.snap-scroll{
  scroll-snap-type:y mandatory;
  scroll-behavior: smooth;
}

.snap-item{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

:lang(en) .en-mission {
}

@media only screen and (max-width:768px) {
  :lang(en) .en-mission {
    width: 234px;
  }
}
// [&:lang(en)]:!text-red-400

:lang(en) .en-mission-card {
  height:385px;
}

@media only screen and (max-width:1280px) {
  :lang(en) .en-mission-card {
    height: 350px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width:768px) {
  :lang(en) .en-mission-card {
    height: 319px;
    padding-bottom: 0;
  }
}
:lang(en) .en-experience-list-desc {
  width: 454px;
}
@media only screen and (max-width:1280px) {
  :lang(en) .en-experience-list-desc {
    width: 314px;
  }
}

@media only screen and (max-width:768px) {
  :lang(en) .en-experience-list-desc {
    width: 273px;
  }
}
:lang(en) .en-faq-card {
  height: 470px;
}

:lang(en) .en-faq-card-title {
  width:660px;
}
:lang(en) .en-faq-title-last {

}
:lang(en) .en-faq-card-desc{

}
@media only screen and (max-width:1536px) {
  :lang(en) .en-faq-card {
    height: 470px;
  }

  :lang(en) .en-faq-card-title {
    width:364px;
   font-size: 2rem;
    line-height: 3.2rem;
  }
  :lang(en) .en-faq-title-last {
    width:190px;
  }
  :lang(en) .en-faq-card-desc{
    width:486px;
  }
}
@media only screen and (max-width:768px) {
  :lang(en) .en-faq-card {
    height: 470px;
  }
  :lang(en) .en-faq-card-desc {
    top: 186px;
    width:276px;
  }
  :lang(en) .en-faq-card-title {
    width:291px;
   font-size: 1.6rem;
   line-height: 2.56rem;
  }
  :lang(en) .faq-card-line::before {
    top: 144px;
  }
}
@media only screen and (max-width:768px) {
  :lang(en) .en-roadmap-list{
    padding-left:4rem;
  }
}


  
