
.dots_custom {

    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
    text-align:center;
  }
  
  .dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 20px 7px;
    padding: 0;
  }
  
  .dots_custom li button {
    border: none;
    background: #434343;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 100px;
    padding: 0;
  }
  
  .dots_custom li.slick-active button {
    background-color: #1CE2D9;
    width:28px;
    transition:all 0.5s;
  }